* {
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Arial', sans-serif;
}
body {
  background: #272727;
}
.content {
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
.content__data h2 {
  color: #fff;
  padding-bottom: 0.3rem;
}
.content__data p {
  font-family: 'Raleway', sans-serif;
}
.content__actions label {
  display: inline-block;
  vertical-align: middle;
}
.content__actions div {
  display: inline-block;
  vertical-align: middle;
}
.content__btn-play {
  padding-bottom: 0.3rem;
}
div {
  margin: 1.3em auto;
}
.box_follow {
  text-align: center;
}
.btn-follow {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 20px;
  padding: 0.6em 6.5em;
  text-decoration: none;
  background: #1ed760;
}
#toggle {
  display: none;
}
#toggle:checked + #conexion-toggle {
  background: #1ed760;
}
#toggle:checked + #conexion-toggle::before {
  left: 1.5em;
}
#conexion-toggle {
  height: 1.5em;
  width: 3em;
  display: inline-block;
  border-radius: 20px;
  border: 1px solid #808080;
}
#conexion-toggle::before {
  content: "";
  display: block;
  height: 1.5em;
  width: 1.5em;
  background: #fff;
  border-radius: 50%;
  position: relative;
}
header {
  width: 100%;
  padding-top: 4em;
  padding-bottom: 4em;
  position: relative;
  overflow: hidden;
}
img {
  max-width: 100%;
}
figure {
  text-align: center;
  position: relative;
}
.singer {
  width: 200px;
}
.back {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  max-width: 200%;
  height: 200%;
  -webkit-filter: blur(40px);
}
.cuadrado {
  height: 150px;
  width: 150px;
  background: #ff0;
}
.cuadrado:before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  background: #fff;
  display: block;
}
.circulo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
}
.play,
.pause {
  display: block;
  height: 50px;
  width: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.play::before,
.pause::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.play::before {
  content: "";
  height: 0;
  width: 0;
  display: block;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 16px solid #fff;
}
.pause::before {
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  background: linear-gradient(to right, #fff 33%, transparent 33%, transparent 66%, #fff 66%);
}
